{% extends 'main/base.html' %}

{% block title %}Home - Car Concierge{% endblock %}

{% block content %}
<main>
  <section class="hero">
    <div class="hero-content">
      <h1>Welcome to Car Concierge Service</h1>
      <h3>We pick up your car</h3>
      <h3>Fix your car</h3>
      <h3>Return your car</h3>
      <h3>Hassle free</h3>
      
      {% if user.is_authenticated %}
        <a href="{% url 'redirect_after_login' %}" class="btn btn-dark">My Dashboard</a>
      {% else %}
        <a href="{% url 'login' %}" class="btn btn-dark">Login/Register</a>
      {% endif %}
    </div>
  </section>
</main>
{% endblock %}
